@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

:root {
  --primary: #12bca2;
  --secondary: #6d15df;
}
h1,
h2,
h3 {
  margin: 0;
}

body {
  margin: 0;
  color: #333;
  font-family: "Poppins";
  background: #f2d2bd;
}
nav {
  background: #80461b;
  padding: 40px 20px;
  text-align: center;
}
nav a {
  color: #f2f2f2;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  border-bottom: solid 2px white;
}
nav h1 {
  color: #fff;
  font-size: 50px;
}
.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 100px 20px;
  min-height: 650px;
}

.boards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.board-card {
  border: solid 6px #daa06d;
  width: 250px;
  padding: 20px 40px;
  text-align: center;
  overflow-wrap: break-word;
  background-color: #80461b;
  border-radius: 20px;
}

.board-card h3 {
  height: 120px;
  text-align: left;
  color: white;
}

.board-card p {
  color: white;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.button-24 {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: #f1f1f1;
  color: #ff4742;
}

.button-24:active {
  opacity: 1;
}

.button-23 {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.button-23:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.button-23:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}

.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 125px 100px;
  background-color: #80461b;
  border: solid 6px #daa06d;
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  height: 345px;
}

.form input {
  padding: 0.875rem;
  font-size: 1rem;
  border: 1.5px solid #daa06d;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #daa06d;
  outline: none;
  transition: ease 0.25s;
  margin-bottom: 80px;
}

.form label {
  color: white;
}

.form input:focus {
  box-shadow: 5.5px 7px 0 #daa06d;
}

.form p {
  color: white;
  text-align: center;
  font-size: 20px;
  margin-top: 25px;
}

.button-74 {
  background-color: #daa06d;
  border: 2px solid #ae8057;
  border-radius: 30px;
  box-shadow: #ae8057 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.last-edited {
  opacity: 0.7;
}

.footer {
  background-color: #80461b;
}

.footer-container {
  max-width: 1280px;
  margin: 0 auto;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
}

@media (min-width: 640px) {
  .footer-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .footer-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.footer-bottom {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 640px) {
  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links p {
  color: #f3f4f6;
  text-decoration: none;
  transition: opacity 0.2s;
}

.footer-links p:hover {
  opacity: 0.75;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
  list-style: none;
  padding: 0;
}

@media (min-width: 640px) {
  .footer-socials {
    margin-top: 0;
  }
}

.footer-socials a {
  color: #f3f4f6;
  transition: opacity 0.2s;
}

.footer-socials a:hover {
  opacity: 0.75;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
